@import "../../node_modules/modern-css-reset/dist/reset.css";

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../font/NunitoSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Roboto", "Nunito", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: white;
}

img { 
  display: inline-block;
}

.container {
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
}
@import "./blocks/_vars.scss";
@import "./blocks/header.scss";
@import "./blocks/intro.scss";
@import "./blocks/services.scss";
@import "./blocks/tips.scss";
@import "./blocks/price.scss";
@import "./blocks/trial.scss";
