.intro {
  padding-top: 55px;
}

.intro__wrap {
  display: flex;
  align-items: center;
}

.intro__left {
  width: 50%;
}

.intro__title {
  color: $main;
  font-family: "Nunito";
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 68px;

  max-width: 477px;

  margin-bottom: 20px;
}

.intro__text {
  max-width: 477px;

  color: #183b56;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;

  margin-bottom: 31px;
}

.intro__btns {
  display: flex;
}

.intro__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 179px;
  height: 48px;
  border: 2px solid #007ffc;
  border-radius: 10px;

  color: #007ffc;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;

  transition: background-color 0.2s linear, color 0.2s linear;
}

.intro__btn:hover {
  background-color: #007ffc;
  color: $white;
}

.intro__btn:not(:last-child) {
  margin-right: 20px;
}

.intro__right {
  position: relative;
  width: 50%;
}

.swiper-container {
  width: 100%;
  max-height: 416px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 55px;
  height: 55px;

  background-color: $main;
  border-radius: 5px;
}

.swiper-button-prev {
  left: -27px;
}

.swiper-button-next {
  right: -27px;
}

.slider__next {
  transform: rotate(180deg);
}

@media (max-width: 1260px) {
  .intro__wrap {
    flex-direction: column;
  }

  .intro__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 35px;
    line-height: 1.4;
  }

  .intro__text {
    font-size: 14px;
    line-height: 1.5;
  }

  .intro__btns {
    flex-direction: column;
  }

  .intro__btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .intro__right {
    width: 100%;
    margin: 0 auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
  }

  .swiper-button-prev {
    top: 90%;
    left: 44%;
  }

  .swiper-button-next {
    top: 90%;
    right: 44%;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .header__wrap {
    padding: 20px 0 20px;
  }

  .nav {
    top: 65px;
  }

  .intro {
    padding-top: 40px;
  }

  .intro__left {
    margin-bottom: 55px;
  }

  .swiper-button-prev {
    top: 90%;
    left: 40%;
  }

  .swiper-button-next {
    top: 90%;
    right: 40%;
  }
}

@media (max-width: 320px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 24px;
    height: 24px;
  }
  .swiper-button-prev {
    top: 90%;
    left: 40%;
  }

  .swiper-button-next {
    top: 90%;
    right: 40%;
  }
}
