<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo">
        <a href="#">
          <img src="./img/Logo.png" alt="logo" />
        </a>
      </div>
      <nav id="nav" class="nav">
        <a href="#" class="nav__link">Home</a>
        <a href="#" class="nav__link">Potfolio</a>
        <a href="#" class="nav__link">Pages</a>
        <a href="#" class="nav__link">Blog</a>
      </nav>

      <div class="header__btns">
        <a class="btn btn-header">Sign In</a>
        <a class="btn btn-header">Login</a>
      </div>

      <div class="header__btns mobile">
        <a class="btn btn-header mobile">Sign In</a>
        <a class="btn btn-header mobile">Login</a>
      </div>

      <div id="burger" class="burger">
        <div class="burger__item"></div>
        <div class="burger__item"></div>
        <div class="burger__item"></div>
      </div>
    </div>
  </div>
</header>
