<section class="intro">
  <div class="container">
    <div class="intro__wrap">
      <div class="intro__left">
        <div class="intro__title">
          Freehand your brand with a beautiful website
        </div>
        <div class="intro__text">
          Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse
          varius enim in eros .
        </div>
        <div class="intro__btns">
          <a class="intro__btn" href="#">View Projects</a>
          <a class="intro__btn" href="#">Learn more</a>
        </div>
      </div>
      <div class="intro__right">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/slider-img.jpg" alt="1" />
            </div>
            <div class="swiper-slide">
              <img src="./img/slider-img.jpg" alt="2" />
            </div>
            <div class="swiper-slide">
              <img src="./img/slider-img.jpg" alt="3" />
            </div>
          </div>
        </div>

        <div class="swiper-button-prev">
          <img src="./img/slider-left.svg" alt="prev" />
        </div>
        <div class="swiper-button-next">
          <img class="slider__next" src="./img/slider-right.svg" alt="next" />
        </div>
      </div>
    </div>
  </div>
</section>
