<section class="price">
  <div class="container">
    <div class="price__wrap">
      <div class="section__header">
        <div class="section__title">
          Choose the plan that’s right for your business
        </div>
        <div class="section__text">
          Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse
          varius enim in eros .
        </div>
      </div>

      <div class="price__content">
        <div class="card__price">
          <div class="card__price__line started"></div>
          <div class="card__price__title">Started plan</div>
          <div class="card__price__cost started">Free</div>
          <span class="card__price__per">per month</span>
          <div class="card__price__text">
            Lorem ipsum dolor sit amet, coectetur adipiscing elit.
          </div>

          <a class="card__price__btn" href="#">Get Started</a>
        </div>

        <div class="card__price">
            <div class="card__price__line enterprise"></div>
            <div class="card__price__title">Enterprise plan</div>
            <div class="card__price__cost enterprise">$20.00</div>
            <span class="card__price__per">per month</span>
            <div class="card__price__text">
              Lorem ipsum dolor sit amet, coectetur adipiscing elit.
            </div>
  
            <a class="card__price__btn" href="#">Get Started</a>
          </div>

          <div class="card__price">
            <div class="card__price__line extreme"></div>
            <h3 class="card__price__title">Enterprise plan</h3>
            <div class="card__price__cost extreme">$50.00</div>
            <span class="card__price__per">per month</span>
            <div class="card__price__text">
              Lorem ipsum dolor sit amet, coectetur adipiscing elit.
            </div>
  
            <a class="card__price__btn" href="#">Get Started</a>
          </div>
      </div>
    </div>
  </div>
</section>
