<section class="services">
  <div class="container">
    <div class="services__wrap">
      
      <div class="section__header">
        <div class="section__suptitle">OUR SERVICES</div>
        <div class="section__title">We build experience</div>
        <div class="section__text">
          Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse
          varius enim in eros .
        </div>
      </div>

      <div class="services__content">
        <div class="card">
          <div class="card__inner">
            <div class="card__icon">
              <img src="./img/services/card-icon1.svg" alt="card-icon1" />
            </div>
            <div class="card__title">Design</div>
            <div class="card__text">
              Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse
              varius enim in eros .
            </div>
            <a class="card__link" href="#">Learn more</a>
          </div>
        </div>

        <div class="card">
          <div class="card__inner">
            <div class="card__icon">
              <img src="./img/services/card-icon2.svg" alt="card-icon2" />
            </div>
            <div class="card__title">Ecommerce</div>
            <div class="card__text">
              Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse
              varius enim in eros .
            </div>
            <a class="card__link" href="#">Learn more</a>
          </div>
        </div>

        <div class="card">
          <div class="card__inner">
            <div class="card__icon">
              <img src="./img/services/card-icon3.svg" alt="card-icon3" />
            </div>
            <div class="card__title">Application</div>
            <div class="card__text">
              Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse
              varius enim in eros .
            </div>
            <a class="card__link" href="#">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
