<section class="tips">
  <div class="container">
    <div class="tips__wrap">
      <div class="section__header">
        <div class="section__suptitle">OUR TIPS FOR YOU</div>
        <div class="section__title">Important features</div>
        <div class="section__text">
          Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse
          varius enim in eros .
        </div>
      </div>

      <div class="tips__content">
        <div class="tips__item">
          <div class="tips__item__img">
            <img src="./img/tips/tips-1.jpg" alt="tips-1" />
            <div class="tips__title">
              120 million curious readers and growing.
            </div>
          </div>
        </div>

        <div class="tips__item">
          <div class="tips__item__img">
            <img src="./img/tips/tips-2.jpg" alt="tips-2" />
            <div class="tips__title">
              Expand your reading. Expand your mind.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
